@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

/*ESTILOS GENERALES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #88348E;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #88348E;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

.btn{ /*SON LOS BOTONES DE BOOTSTRAP O HAGANLO USTEDES PERO CON ESTA CLASE*/
    background-color:#05B1F6;
    color: #000000;
    border-radius: 5px;
}

.btn:hover{
    background-color:#00D5D9;
    color: #000000;
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.3s;
}

/*FIN DE ESTILOS GRALES*/

/*INICIO AGENDA*/

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8C9DDF;
}

.agenda{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.agenda ul{
    list-style: none;
}

.agenda ul li{
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.agenda ul li:first-child{
    margin-top: 50px;
}

.agenda ul li:last-child{
    margin-bottom:50px;
}


@media only screen and (min-width: 768px){
    .agenda::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000000;
    }
    .agenda ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .agenda ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
    }

    .agenda ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(0px);
    }

    .agenda ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #88348E;
        border-radius: 50%;
        top: 0%;
    }
     .agenda ul li:nth-child(odd)::after{
        transform: translate(50%, -50%); 
        right: -15px;
     }
     .agenda ul li:nth-child(even)::after{
        transform: translate(-50%, -50%); 
        left: -15px;
     }
    
}





/*FIN AGENDA*/

/*INICIO CATEGORIAS*/
#categorias{
    color: #ffff;
    text-align: center;
    padding-bottom: 15px;
}
.categoriasi{
    display: flex;
    justify-content: space-between;
}
.categoriasi button{
    margin-bottom: 0px;
}
.categoriasi h3{
    color: #000000;
}
.categoriasi p{
    color:#000000
}
.categoriasi h2{
    font-size: 1em;
}
#categorias .containerc{
    padding: 150px 12px;
}

#categorias h2{
    margin-top: 0;
}

#categorias .cartauno{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
#categorias .cartados{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
#categorias .cartatres{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
#categorias .cartacuatro{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.cartauno{
    background-image: linear-gradient(
        0deg,
        #8c9ddf,
        #8c9ddfbd
    )
        ,url();
}
.cartados{
    background-image: linear-gradient(
        0deg,
        #8c9ddf,
        #8c9ddfbd
    )
        ,url();
}

.cartatres{
    background-image: linear-gradient(
        0deg,
        #8c9ddf,
        #8c9ddfbd
    )
        ,url();
}
.cartacuatro{
    background-image: linear-gradient(
        0deg,
        #8c9ddf,
        #8c9ddfbd
    )
        ,url();
}
/*FIN CATEGORIAS*/

/*INICIO ARTISTAS*/
.A img{
    border-radius: 8px;
    opacity: 0.5;
}
.A img:hover{
    opacity: 1;
}
/*FIN ARTISTAS*/
.contact >*{
    padding: 1em;
}
.contact-form .titulo{
    color: #88348E;
}
.contact-form{
    background-color: #11111154;
    display: flex;
    justify-content: space-between;
} 
.contact-form form p{
    margin: 5px;
    padding: .4em;
}
.contact-form form button,
.contact-form form input,
.contact-form textarea{
    width: 100%;
    padding: .5em;
    border: none;
    background-color: none;
    outline: none;
    color: #000000;
}
.contact-form label,
.contact-form h2{
    color: rgb(255, 255, 255);
}
.contact-info p,
.contact-info ul,
.contact-info h4{
    color: #ffffff;
}
.map{
    display: flex;
    align-self: center;
}
/*CONTACTO*/